<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.zoie.mytouchapp"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>My Touch App</name>

    <description>
      A testing app using Sencha Touch.
    </description>

    <author href="" email="zoie@young.url.com.tw">
      Zoie
    </author>

    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.1" />

</widget>